<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">
    
    
    <!-- Provide the location of configuration file -->
    <bean id="propConfig" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    	<property name="location" value="spring.properties"/>
    </bean>
    
    <bean id="props" class="com.iamsireesh.ap.propsfileread.PropsImpl">
    	<property name="name" value="${Name}"/>
    	<property name="age" value="${Age}"/>
    	<property name="gender" value="${Gender}"/>
    </bean>
</beans>