<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">
    
    
    <!-- Provide the location of configuration file : Configuring a single file
    <bean id="propConfig" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    	<property name="location" value="spring.properties"/>
    </bean>
    
    -->
    
    <!-- location is the bean property name for configuring a single properties file
    	 locations is the bean property name for configuring multiple properties file
     -->
    
    <!-- Provide the location of configuration file : Configuring multiple properties files-->
    <bean id="propConfig" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    	<property name="locations">
    		<list>
    			<value>spring.properties</value>
    			<value>first.properties</value>
    			<value>second.properties</value>
    		</list>
    	</property>
    </bean>
    
    <bean id="props" class="com.iamsireesh.ap.propsfileread.PropsImpl">
    	<property name="name" value="${Name}"/>
    	<property name="age" value="${Age}"/>
    	<property name="gender" value="${Gender}"/>
    </bean>
    
    <bean id="multiprops" class="com.iamsireesh.ap.multiplepropsread.PropsImpl">
    	<property name="name" value="${Name}"/>
    	<property name="age" value="${Age}"/>
    	<property name="gender" value="${Gender}"/>
    	<property name="profession" value="${Profession}"/>
    </bean>
    
    <!-- Userdefined Bean life cycle methods: Programmatic Approach  -->
    <bean id="initbean" class="com.iamsireesh.ap.programmatic.beanlifecycle.Initialization">
    	<property name="message" value="Hi in::Init"/>
    </bean>
    
    <bean id="destroybean" class="com.iamsireesh.ap.programmatic.beanlifecycle.DestroyBean">
    	<property name="destroyMessage" value="Hi in::Destroy"/>
    </bean>
    
    <bean id="declarativeinitbean" class="com.iamsireesh.ap.declarative.beanlifecycle.Initialization" init-method="init">
    	<property name="message" value="Hi in::Init"/>
    </bean>
    
    <bean id="declarativedestroybean" class="com.iamsireesh.ap.declarative.beanlifecycle.DestroyBean" destroy-method="destroy">
    	<property name="destroyMessage" value="Hi in::Destroy"/>
    </bean>
    
    
</beans>