<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

	<!-- Hello World -->
	<!-- Hello World With Single Ton Demo -->
	<!-- Single object instance per container -->
	<bean id="hello" class="com.iamsireesh.helloworld.HelloWorld">
		<property name="message" value="Hello World"/>
	</bean>

	<!-- Hello World With Prototype Ton Demo -->
	<!-- Any number of object instances per container -->
	<bean id="hello1" class="com.iamsireesh.helloworld.HelloWorld"
		scope="prototype">
		<property name="message" value="Hello World"/>
	</bean>
	<!-- Configuring a predefined class object as property of pojo class starts 
		here -->
	<bean id="utildate" class="java.util.Date">
		<property name="year">
			<value>87</value>
		</property>

		<property name="month" value="10" />
		<property name="date" value="26"></property>
	</bean>
	<!-- Configuring a predefined class object as property of pojo class starts 
		here -->
	<bean id="predefined" class="com.iamsireesh.setter.predefined.DemoInterImpl">
		<property name="message" value="Predefind Demo Example"/>
		<!-- Injecting the dependent class to this class -->
		<property name="date" ref="utildate"/>
		<!-- Or 
		<property name="date">
			<ref bean="utildate" />
		</property>
		-->
	</bean>
	<!-- Configuring a predefined class object as property of pojo class ends 
		here -->
	<!-- Configuring a user defined class object as property of pojo class starts 
		here -->
    <bean name="userdefined" class="com.iamsireesh.setter.userdefined.UserDefinedImpl">
    <property name="age" value="85"></property>
    <property name="userdefinedmsg" ref="testbean"></property>
    <property name="date" ref="utildate"></property>
    </bean>
    
    <bean id="testbean" class="com.iamsireesh.setter.userdefined.UserDefined">
    <property name="message" value="You are Too young"></property>
    </bean>
    <!-- Configuring a user defined class object as property of pojo class ends 
		here -->
	<!-- Configuration of bean property types -->
	<bean id="beanprops" class="com.iamsireesh.setter.beanpropertytypes.BeanPropImpl">
	<property name="luckyno" value="18"/>
	<property name="salary" value="100000.99"/>
	<property name="age" value="25.5"/>
	<property name="aboutyou" value="I am a Very good human being"/>
	<property name="fruits">
		<list>
			<value>Apple</value>
			<value>Banana</value>
			<value>Orange</value>
			<value>Guvua</value>
			<value>Suger Cane</value>
			<value>Watermelon</value>
		</list>
	</property>
	<property name="vegetables">
		<set>
			<value>Capsicum</value>
			<value>Capsicum</value>
			<value>Brinjal</value>
			<value>Lady Finger</value>
			<value>Coriender Leaves</value>
			<value>Cauli Flower</value>
		</set>
	</property>
	<property name="course">
		<array>
			<value>Java</value>
			<value>.Net</value>
			<value>Ruby</value>
			<value>Rails</value>
			<value>PHP</value>
			<value>JUnit</value>
	
		</array>
	</property>
	<property name="runs">
		<array>
			<value>100</value>
			<value>200</value>
			<value>300</value>
			<value>50</value>
			<value>250</value>
			<value>350</value>
		</array>
	</property>
	<property name="userdefined" ref="userdeftest"/>
	</bean>
	<bean id="userdeftest" class="com.iamsireesh.setter.beanpropertytypes.UserDefinedBean">
	<property name="message" value="Bean Property Types"></property>
	</bean>
	
	<!-- Constructor Injection Demo -->
	<bean id="cidemo" class="com.iamsireesh.ci.demo.ConstructorDemo">
		<constructor-arg>
			<value>Hello World! From Constructor</value>
		</constructor-arg>
	</bean>
	
	<!-- Constructor Injection With Multiple Parameters -->
	<!-- Type 1: Arguments In Sequence-->
	<bean id="cimultiple" class="com.iamsireesh.ci.multipleparametrized.ConstructorMultiple">
		<constructor-arg>
			<value>Sireesh</value>
		</constructor-arg>
		<constructor-arg>
			<value>24</value>
		</constructor-arg>
		<constructor-arg>
			<value>1000000.50</value>
		</constructor-arg>
	</bean>
	
	<!-- Type 2: Constructor arguments using data type -->
	<bean id="cimultiple1" class="com.iamsireesh.ci.multipleparametrized.ConstructorMultiple">
		<constructor-arg type="double">
			<value>1000000.50</value>
		</constructor-arg>
		<constructor-arg type="java.lang.String">
			<value>Sireesh</value>
		</constructor-arg>
		<constructor-arg type="int">
			<value>25</value>
		</constructor-arg>
	</bean>
	
	<!-- Type 3: Constructor arguments using data index -->
	<bean id="cimultiple2" class="com.iamsireesh.ci.multipleparametrized.ConstructorMultiple">
		<constructor-arg index="2">
			<value>1000000.50</value>
		</constructor-arg>
		<constructor-arg index="0">
			<value>Sireesh</value>
		</constructor-arg>
		<constructor-arg index="1">
			<value>25</value>
		</constructor-arg>
	</bean>
	
	<!-- Type 4: Using All Three Above types (sequence, datatype, index) -->
	<bean id="cimultiple3" class="com.iamsireesh.ci.multipleparametrized.ConstructorMultiple">
		<constructor-arg index="0" type="java.lang.String">
			<value>Sireesh</value>
		</constructor-arg>
		<constructor-arg index="1" type="int">
			<value>24</value>
		</constructor-arg>
		<constructor-arg index="2" type="double">
			<value>1000000.50</value>
		</constructor-arg>
	</bean>
	<!-- Constructor Injection With Bean Property Types -->
	<bean id="cibeanprops" class="com.iamsireesh.ci.beanpropertytypes.CIBeanProperties">
		<constructor-arg>
			<value>18</value>
		</constructor-arg>
		<constructor-arg>
			<value>100000.99</value>
		</constructor-arg>
		<constructor-arg>
			<value>25</value>
		</constructor-arg>
		<constructor-arg>
			<value>I am a Very good human being</value>
		</constructor-arg>
		<constructor-arg>
			<list>
				<value>Apple</value>
				<value>Banana</value>
				<value>Orange</value>
				<value>Guvua</value>
				<value>Suger Cane</value>
				<value>Watermelon</value>
			</list>
		</constructor-arg>
		
		<constructor-arg>
			<set>
				<value>Capsicum</value>
				<value>Capsicum</value>
				<value>Brinjal</value>
				<value>Lady Finger</value>
				<value>Coriender Leaves</value>
				<value>Cauli Flower</value>
			</set>
		</constructor-arg>
		<constructor-arg>
			<array>
				<value>Java</value>
				<value>.Net</value>
				<value>Ruby</value>
				<value>Rails</value>
				<value>PHP</value>
				<value>JUnit</value>
	
			</array>
		</constructor-arg>
		<constructor-arg>
			<array>
				<value>100</value>
				<value>200</value>
				<value>300</value>
				<value>50</value>
				<value>250</value>
				<value>350</value>
			</array>
		</constructor-arg>
		<constructor-arg>
			<ref bean="userdeftest"/>
		</constructor-arg>
	</bean>
	
	<!-- CI Setter Override -->
	<bean id="cisetteroverride" class="com.iamsireesh.cisetter.override.CISetterOverride">
		<property name="name" value="Sireesh"/>
		<property name="age" value="25"/>
		<property name="salery" value="100000.99"/>
		
		<constructor-arg>
			<value>SireeshOld</value>
		</constructor-arg>
		<constructor-arg>
			<value>19</value>
		</constructor-arg>
		<constructor-arg>
			<value>10000.99</value>
		</constructor-arg>
	</bean>
</beans>